@model test.Book
@{
    ViewBag.Title = "Book details";
}
<h2>Book details</h2>
<div >
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountOfPages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountOfPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ratings)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
